/*flex*/
.flex-center
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
body
{
    font-family: "Raleway",sans-serif;
    width: 100%;
    height: 100%;
   background-color: #f1f1f1;
}

h2
{
  
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}
#title h2+p
{
   -webkit-box-sizing: inherit;
           box-sizing: inherit;
    text-align: center;
    
}

#title span
{
    color:#fff;
    background: #000;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-left: 5px
    
}

#container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    text-align: center;

}

#container #block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

#container #block img
{
    width: 100%;
    vertical-align: middle;
    border-style: none;
    
}

#block
{
   color: #000 !important;
background-color: #fff !important;
    margin: 16px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
            box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.wood p
{
    text-align:left;
    text-decoration: none;
 
       margin-left: 10px;
}
.wood h3
{
    position: relative;
    left: -9.5em
    
}
.wood h2
{
    position: relative;
    right: 8.8em;
    font-weight: 600;
    margin-bottom: -10px;
    font-size: 24px;
}

.wood span
{
    opacity: 0.60;
}

.coment label
{
    font-weight: bolder;
    text-decoration: none;
    color: #000 !important;
    font-family: "Raleway", sans-serif;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    position: relative;
    left: 15em;
    
    
}
.coment span
{
    
    border-radius: 50%;
     background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 0px;
    opacity: 1
    
}
.wood .coment span
{
    
    border-radius: 0%;
     background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 0px;
    opacity: 1
    
}
    
/*

*/



.face p
{
    text-align:left;
    text-decoration: none;
    margin-left: 10px;
 
    
}

.face h2
{
    position: relative;
    right: 10.5em;
    font-weight: 600;
    margin-bottom: -10px;
    font-size: 24px;
}

.face span
{
    opacity: 0.60;
}



/*

*/

.bridge p
{
    text-align:left;
    text-decoration: none;
 
       margin-left: 10px;
}
.bridge h3
{
    position: relative;
    left: -9.5em
    
}
.bridge h2
{
    position: relative;
    right: 9.4em;
    font-weight: 600;
    margin-bottom: -10px;
    font-size: 24px;
}

.bridge .num
{
    opacity: 0.60;
}




   

.text label:after
{
    content: "READ MORE ";
    width: 100%;
    
}
.text
{
    border-style: none;
    padding: 0;
    color: #000 !important;
    background-color: #fff !important;
    padding: 12px 24px !important;
    border: 1px solid #ccc !important;
    font-weight: 900;
    position: relative;
    right: 230px;
    margin-bottom: 10px !importante;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.sp:before
{
    content: ">>";  
       font-size: 10px;
    color: black;
       opacity: 1 ;

    font-weight: 900;
}
    

   
.face .sp {
    opacity: 1;
}

@media only screen and (min-width: 1208px) {
    #container
    {
        width: 190vh;
    }
    #block
    {
        width: 90vh;
        height: 552px;
        
        
    }
    #block+.face
    {
        width: 434.65px;
        height: 441.3px;
        position: relative;
        bottom:1170px;
        left: 50%;
        background: white;
        text-align: right !important;
        
    }
    #block+.face h4
    {
        font-size: 20px;
    }
     #block+.face p
    {
        font-size: 15px;
    }
}