/*flex*/
.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
body
{
    font-family: "Raleway",sans-serif;
    width: 100%;
    height: 100%;
   background-color: #f1f1f1 !important
}

h2
{
  
    font-weight: 600;
    font-size: 36px;
    text-align: center !important;
}
#title h2+p
{
   box-sizing: inherit;
    text-align: center !important;
    
}

#title span
{
    color:#fff;
    background: #000;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-left: 5px
    
}

#container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#container #block
{
    display: flex;
    align-items:center;
    flex-direction: column;
    
}

#container #block img
{
    width: 100%;
    vertical-align: middle;
    border-style: none;
    
}

.wood
{
   color: #000 !important;
background-color: #fff !important;
    margin: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
